Email and mobile verification adds an extra layer of security to your project, reducing the risk of fraudulent activities.
### `External registrations :`
####   `Role:` 
        This functionality is to legitimate the account holder.
####   `Function:`
    OTP verification :
        The user fills in his mobile and email in the first step of the wizard form 
        and gets OTP on his email.The user fills the OTP in the next step 
        (He/she cannot go to the next step until he verifies his email ).

### `Internal registrations ( Only for center admin user edit ) :` 
#### `Role:`
         This functionality is to verify the account holder’s new 
         ( email  /mobile number ).
####    `Function:`
> - ####        Link verification :
> -            When the primary (email/mobile) is changed, a verification link is 
            sent to the user's (email/mobile).
> -            A form appears asking  (him/her) to complete ( mobile number/email) 
            which is incomplete. 
> -             The user has to complete the mobile number/email to verify 
            (himself/herself).

